@page "/f/upload"
@attribute [Authorize]

<h1>Datei hochladen</h1>

<form class="col position-absolute w-50" method="post" runat="server" enctype="multipart/form-data" action="WebForm1.aspx">
    <div class="mb-4">
        <input class="form-control" type="file" placeholder="Email Adresse" aria-describedby="fileHelp" @bind="File" />
        <small id="fileHelp" class="form-text text-muted">@File</small>
    </div>

    <div class="mb-4">
        <input class="form-control" placeholder="Datei Titel" @bind="Title" />
    </div>

    <button class="btn btn-primary">Hochladen</button>
</form>

@code {
    private string File { get; set; } = null!;
    private string Title { get; set; } = null!;
}
