@attribute [Route(Constants.PathToFileUpload)]
@attribute [Authorize]

<h1>Datei hochladen</h1>

<form class="w-50" method="post" action="/api/v1/upload/user" enctype="multipart/form-data">
    <div class="mb-3">
        <input class="form-control" type="file" name="file" title="Maximal @(Constants.MaxFileSizeInBytes / 1000000)MB" aria-describedby="fileHelp" />
    </div>

    <div class="mb-3">
        <input class="form-control" placeholder="Datei Titel"/>
    </div>

    <button class="btn btn-dark" type="submit">Hochladen</button>
</form>

@code {

}
