@attribute [Route(Constants.PathToFileUpload)]
@attribute [Authorize]

<h1>Datei hochladen</h1>

<form class="w-50">
    <div class="mb-3">
        <input class="form-control" type="file" placeholder="Email Adresse" aria-describedby="fileHelp" @bind="File" />
        <small id="fileHelp" class="form-text text-muted">@File</small>
    </div>

    <div class="mb-3">
        <input class="form-control" placeholder="Datei Titel" @bind="Title" />
    </div>

    <button class="btn btn-dark" type="submit">Hochladen</button>
</form>

@code {
    private string File { get; set; } = null!;
    private string Title { get; set; } = null!;
}
