.navbar-brand {
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-item {
    font-size: 0.9rem;
    margin: 0 5px;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: #3a3b3d;
    color: white;
}

.nav-item ::deep a:hover {
    background-color: #2e2e2f;
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
         Never collapse the sidebar for wide screens 
        display: block;
    }
    
    .nav-scrollable {
         Allow sidebar to scroll for tall menus 
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
