@using Fordele.Blazor.Backend.Models;
@using Fordele.Blazor.Backend.Services;
@using Fordele.Blazor.Backend.Utils;

<a class="card shadow-sm mb-4 text-reset text-decoration-none" href="/d/@UploadedDocument.Id">
    <div class="ratio ratio-21x9 text-center">
        <h2 class="d-flex align-items-center justify-content-center">@UploadedDocument.Extension.ToUpper()</h2>
    </div>

    <div class="card-footer text-center text-muted">
        <small>@UploadedDocument.ToFancyCreatedString()</small>
    </div>
</a>

@code {
    [Inject]
    public UploadedFileService UploadedFileService { get; set; } = null!;

    [Parameter]
    public UploadedDocument UploadedDocument { get; set; } = null!;
}
