@using Fordele.Blazor.Backend.Interfaces;
@using Fordele.Blazor.Backend.Services;

<a href="/v/image/@UploadedImage.Id">
    <img class="w-100 mb-4 rounded-3 shadow-sm" src="@Path.Combine("data", $"{UploadedImage.Id}.{UploadedImage.Extension}")" style="object-fit: cover;" />
</a>

@code {
    [Parameter]
    public IUploadedFile UploadedImage { get; set; } = null!;
}
