@using Fordele.Blazor.Backend.Models;
@using Fordele.Blazor.Backend.Services;

<a href="/i/@UploadedImage.Id">
    <img class="w-100 mb-4 rounded-3 shadow-sm" src="@Path.Combine("data", "images", $"{UploadedImage.Id}.{UploadedImage.Extension}")" style="object-fit: cover;" />
</a>

@code {
    [Parameter]
    public UploadedImage UploadedImage { get; set; } = null!;
}
