<nav class="navbar navbar-expand-md navbar-light mb-4 sticky-top">
    <div class="container">
        <a class="navbar-brand" href="">Fordele</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/v/images">
                        Bilder
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/v/documents">
                        Dokumente
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        Willkommen, @HttpContextAccessor.HttpContext.User.Identity.Name!
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/u/sign-out">
                            Abmelden
                        </NavLink>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/u/sign-in">
                            Anmelden
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    [Inject]
    public IHttpContextAccessor HttpContextAccessor { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}