.navbar {
    background-color: rgba(243, 248, 252, .8);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-item {
    font-size: 1.1rem;
    margin: 0 5px;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            color: white;
        }

        .nav-item ::deep a:hover {
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
