@using Fordele.Blazor.Backend.Interfaces;
@using Fordele.Blazor.Backend.Services;

<a class="card border border-dark border-4 bg-darker mb-4 text-reset text-decoration-none" href="/v/@UploadedFile.Id">
    <div class="ratio ratio-16x9 text-center">
        <h2 class="d-flex align-items-center justify-content-center text-muted">@UploadedFile.Extension.ToUpper()</h2>
        @if (UploadedFile.Extension == "png"
            || UploadedFile.Extension == "jpg"
            || UploadedFile.Extension == "jpeg")
        {
            <img class="card-img-top" src="@Path.Combine("data", $"{UploadedFile.Id.ToString()}.{UploadedFile.Extension}")" style="object-fit: cover;" />
        }
    </div>

    <div class="card-body text-center text-muted">
        @UploadedFile.FancyCreatedOrModified
    </div>
</a>

@code {
    [Parameter]
    public IUploadedFile UploadedFile { get; set; } = null!;
}
