.navbar {
  padding: 2rem 20rem;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__links-brand {
  color: var(--color-primary);
  font-family: var(--font-family-brand);
  font-size: 0.75rem;
  line-height: 25px;
}

.navbar__links-container {
  display: flex;
  flex-direction: row;
}

.navbar__links-container p,
.navbar__sign p,
.navbar__menu-container {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.navbar__sign button,
.navbar__menu-container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: var(--color-secondary);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  cursor: pointer;
  border: 1px solid var(--color-secondary2);
  border-radius: 5px;
}

@media screen and (max-width: 1050px) {
  .navbar {
    padding: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }
}