@page "/"
@using Fordele.Blazor.Backend.Services;

<PageTitle>Index</PageTitle>

<div class="position-relative">
    <img class="d-flex align-items-center justify-content-center" src="@Path.Combine("assets", "illustration.png")" style="object-fit: cover;" />

    <div class="position-absolute">
        <p class="h1" style="color: #899bc0; font-size: 45rem;">@UploadedFileService.GetUploadedFiles().Count()</p>
        <p class="fs-1" style="color: #899bc0;">Dateien werden aktuell mit Fordele geteilt!</p>
    </div>
</div>

@code {
    [Inject]
    public UploadedFileService UploadedFileService { get; set; } = null!;
}
