@page "/"
@using Fordele.Blazor.Backend.Services;

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col">
        <img class="d-flex align-items-center justify-content-center mw-100" src="@Path.Combine("assets", "illustration.png")" style="object-fit: cover;" />
    </div>

    <div class="col">
        <h1>Hej!</h1>
        <p class="fs-4">
            Fordele verteilt aktuell @UploadedFileService.GetUploadedFiles().Count() verschiedene Dateien.
            <br />
            Darunter <a class="link-primary" href="/v/images">@UploadedFileService.GetUploadedImages().Count() Bilder</a> und <a class="link-primary" href="/v/documents">@UploadedFileService.GetUploadedDocuments().Count() Dokumente</a>.
            <br />
            <br />
            <a class="link-secondary" href="/u/sign-in">Melde dich an</a>, um alle Dateien auflisten zu können.
            <br />
            Solltest du keinen Account besitzen, kannst du lediglich auf Dateien zugreifen, die dir per Link geteilt wurden.
        </p>
    </div>
</div>

@code {
    [Inject]
    public UploadedFileService UploadedFileService { get; set; } = null!;
}
