@page "/"
@using Fordele.Blazor.Backend.Services;

<PageTitle>Index</PageTitle>

<div class="text-center">
    <h1>Hej!</h1>

    <p>
        Fordele verteilt aktuell @UploadedFileService.GetUploadedFiles().Count() verschiedene Dateien.
        <br />
        Darunter <a class="link-primary" href="/v/images">@UploadedFileService.GetUploadedImages().Count() Bilder</a> und <a class="link-primary" href="/v/documents">@UploadedFileService.GetUploadedDocuments().Count() Dokumente</a>.
    </p>

    <p>
        <a class="link-secondary" href="/u/sign-in">Melde dich an</a>, um alle Dateien auflisten zu können.
        <br />
        Solltest du keinen Account besitzen, kannst du lediglich auf Dateien zugreifen, die dir per Link geteilt wurden.
    </p>
</div>

@code {
    [Inject]
    public UploadedFileService UploadedFileService { get; set; } = null!;
}
