@page "/i/{id:guid}"
@using Fordele.Blazor.Backend.Interfaces;
@using Fordele.Blazor.Backend.Models;
@using Fordele.Blazor.Backend.Services;
@using Fordele.Blazor.Backend.Utils;

@if (UploadedImage == null) { <NotFound /> }
else
{
    <HeadContent>
        <meta property="og:image" content="https://fordele.azurewebsites.net/@Path.Combine("data", "images", $"{UploadedImage.Id}.{UploadedImage.Extension}")">
        <meta name="twitter:image:src" content="https://fordele.azurewebsites.net/@Path.Combine("data", "images", $"{UploadedImage.Id}.{UploadedImage.Extension}")">
        <meta name="twitter:card" content="summary_large_image">
    </HeadContent>

    <PageTitle>Bild</PageTitle>

    <div class="text-center">
        <img class="max-vh-85 mw-100 rounded shadow-lg" src="@Path.Combine("data", "images", $"{UploadedImage.Id}.{UploadedImage.Extension}")" style="object-fit: cover;" />

        <p class="fs-5 text-muted">@UploadedImage.ToFormattedSizeString()</p>
    </div>
}

@code {
    [Inject]
    public UploadedFileService UploadedFileService { get; set; } = null!;

    [Parameter]
    public Guid Id { get; set; }

    private UploadedImage? UploadedImage { get; set; } = null!;

    protected override void OnInitialized()
    {
        UploadedImage = UploadedFileService.GetUploadedImages().FirstOrDefault(x => x.Id == Id);

        base.OnInitialized();
    }
}
