@page "/v/documents"
@using Fordele.Blazor.Backend.Interfaces;
@using Fordele.Blazor.Backend.Services;

<PageTitle>Dokumente</PageTitle>

<h1>Alle Dokumente</h1>

<div class="row">
    @foreach (var uploadedFile in UploadedDocuments)
    {
        <div class="col-3" id="uploadedFileCard">
            <DocumentCard UploadedDocument="@uploadedFile" />
        </div>
    }
</div>

@code {
    [Inject]
    public UploadedFileService UploadedFileService { get; set; } = null!;

    [Parameter]
    public Guid Id { get; set; }

    private IEnumerable<IUploadedFile> UploadedDocuments { get; set; } = null!;

    protected override void OnInitialized()
    {
        UploadedDocuments = UploadedFileService.GetUploadedDocuments()
            .OrderByDescending(uploadedDocument => uploadedDocument.ModifiedAt);

        base.OnInitialized();
    }
}
