@page "/view-all"
@using Fordele.Blazor.Backend.Interfaces;
@using Fordele.Blazor.Backend.Services;

<PageTitle>Alle ansehen</PageTitle>

<h1>Alle Ansehen</h1>

<div class="row">
    @foreach (var uploadedFile in UploadedFiles)
    {
        <div class="col-3" id="uploadedFileCard">
            <UploadedFileCard UploadedFile="@uploadedFile" />
        </div>
    }
</div>

@code {
    [Inject]
    public UploadedFileService UploadedFileService { get; set; } = null!;

    [Parameter]
    public Guid Id { get; set; }

    private IEnumerable<IUploadedFile> UploadedFiles { get; set; } = null!;

    protected override void OnInitialized()
    {
        UploadedFiles = UploadedFileService.GetUploadedFiles().OrderByDescending(uploadedFile => uploadedFile.ModifiedAt);

        base.OnInitialized();
    }
}
