@page "/a/sign-up"
@model Imgrio.Blazor.Pages.Account.SignUpModel

<div class="d-flex justify-content-center align-items-center text-center">
    <div class="card w-50">
        <div class="card-body p-5">
            <form method="post">
                <h1 class="mb-5">Registrieren</h1>

                <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" placeholder="Nutzername" asp-for="Input.Username" />
                    <span class="text-danger" asp-validation-for="Input.Username"></span>
                </div>

                <div class="mb-3">
                    <input class="form-control form-control-lg" type="email" placeholder="Email" asp-for="Input.Email" />
                    <span class="text-danger" asp-validation-for="Input.Email"></span>
                </div>

                <div class="mb-3">
                    <input class="form-control form-control-lg" type="password" placeholder="Passwort" asp-for="Input.Password" />
                    <span class="text-danger" asp-validation-for="Input.Password"></span>
                </div>

                <div class="mb-5">
                    <input class="form-control form-control-lg" type="password" placeholder="Passwort wiederholen" asp-for="Input.Password" />
                    <span class="text-danger" asp-validation-for="Input.Password"></span>
                </div>

                <button class="btn btn-lg btn-block btn-primary mb-3" type="submit">Registrieren</button>
                <div class="card-text">
                    Du hast schon einen Account? <a href="/a/sign-in">Anmelden</a>
                </div>
            </form>
        </div>
    </div>
</div>