@page "/a/login"
@model Imgrio.Blazor.Pages.Auth.SignInModel

<form class="pt-5" method="post">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <h1 class="mb-4" style="font-size: 3.5rem;">Willkommen zurück!</h1>
            <p>imgrio ist eine Plattform zum Teilen von Inhalten. Melde dich mit deinem Account an, um vollen Zugang zur Plattform zu erhalten.</p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <input class="form-control" type="text" placeholder="Email" asp-for="Input.Email" />
                <span class="text-danger" asp-validation-for="Input.Email"></span>
            </div>

            <div class="mb-4">
                <input class="form-control" type="password" placeholder="Passwort" asp-for="Input.Password" />
                <span class="text-danger" asp-validation-for="Input.Password"></span>
            </div>

            <button class="btn btn-primary mb-3" type="submit">Anmelden</button>
            <p>Du hast noch keinen Account? <a href="@Constants.PathToAuthRegister">Registrieren</a></p>
        </div>
    </div>
</form>