@page "/a/sign-up"
@*@attribute [Route(Constants.PathToAuthRegister)]*@
@model Imgrio.Blazor.Pages.Auth.SignUpModel

<form class="pt-5" method="post">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <h1 class="mb-4" style="font-size: 3.5rem;">Registrieren</h1>
            <p>imgrio ist eine Plattform zum Teilen von Inhalten. Erstelle dir einen Account, um vollen Zugang zur Plattform zu erhalten.</p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <input class="form-control" type="text" placeholder="Nutzername" asp-for="Input.Username" />
                <span class="text-danger" asp-validation-for="Input.Username"></span>
            </div>

            <div class="mb-3">
                <input class="form-control" type="email" placeholder="Email" asp-for="Input.Email" />
                <span class="text-danger" asp-validation-for="Input.Email"></span>
            </div>

            <div class="mb-3">
                <input class="form-control" type="password" placeholder="Passwort" asp-for="Input.Password" />
                <span class="text-danger" asp-validation-for="Input.Password"></span>
            </div>

            <div class="mb-4">
                <input class="form-control" type="password" placeholder="Passwort wiederholen" asp-for="Input.Password" />
                <span class="text-danger" asp-validation-for="Input.Password"></span>
            </div>

            <button class="btn btn-primary mb-3" type="submit">Registrieren</button>
            <p>Du hast schon einen Account? <a href="/a/sign-in">Login</a></p>
        </div>
    </div>
</form>