@attribute [Route(Constants.PathToImprint)]

<h1 class="mb-4 text-4xl font-bold leading-none tracking-tight">Impressum</h1>

<div class="mb-5">
    <h2 id="installation" class="text-lg font-bold">Gemäß § 5 TMG</h2>
    <ul>
        <li>Benjamin Saalfeld</li>
        <li>Bursweg 4</li>
        <li>26632 Ihlow, DE</li>
    </ul>
</div>

<div class="mb-5">
    <h2 id="installation" class="text-lg font-bold">Kontakt</h2>
    <ul>
        <li>Email: <a href="mailto:@Constants.AppContact" target="_blank" class="hover:underline">@Constants.AppContact</a></li>
        <li>Internet: <a href="@Constants.PathToCopyright" target="_blank" class="hover:underline">baeni.de</a></li>
    </ul>
</div>

<div class="mb-5">
    <h2 id="installation" class="text-lg font-bold">Verantwortlich für den Inhalt</h2>
    <p>Siehe oben.</p>
</div>

<div class="mb-5">
    <p>Quelle: <a href="https://e-recht24.de/" target="_blank" class="font-medium text-blue-500 hover:underline">e-recht24.de</a></p>
</div>