@page "/"

<div>
    <img class="d-flex align-items-center justify-content-center max-vh-85 w-100" src="@Path.Combine("assets", "illustration-index.png")" style="object-fit: cover;" />
</div>

@code {

}
