@attribute [Route(Constants.PathToSharex)]

<h1 class="mb-4 text-4xl font-bold leading-none tracking-tight">ShareX</h1>

<div class="mb-5">
    <p>ShareX ist eine beliebte Open-Source Screenshot Verwaltungs Software für Microsoft Windows. Hier erfährst du, wie du ShareX mit imgrio konfigurierst.</p>
</div>

<div class="mb-5">
    <h2 id="installation">Installation</h2>
    <p>Zu Beginn solltest du erst einmal ShareX installieren. Klicke dafür <a href="https://getsharex.com/" target="_blank">hier</a> und anschließend auf "Download", um die aktuellste Version herunterzuladen.</p>
    <p>Beim Setup kannst du einfach immer auf "Weiter" klicken, bis die Installation von ShareX abgeschlossen ist.</p>
</div>

<div class="mb-5">
    <h2 id="configuration">Konfiguration</h2>
    <p>Als nächstes konfigurieren wir alles so, dass ShareX mit @Constants.AppName funktioniert. Da wir das meiste bereits für dich erledigt haben, musst du dafür nur unsere <a href="@Path.Combine("assets", $"{Constants.AppName}.sxcu")" download>Konfiguration herunterladen</a>.</p>
    <p>Nun importierst du diese Konfiguration mit einem Doppelklick auf die heruntergeladene Datei in ShareX. Das einzige, was du jetzt noch selber erledigen musst, ist das einfügen deiner Zugangsdaten. Navigiere dafür zur folgenden Einstellung:</p>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ziele</li>
            <li class="breadcrumb-item">Benutzerdefinierte Uploader-Einstellungen...</li>
        </ol>
    </nav>

    <p>In der Liste auf der linken Seite solltest du nun eine Konfiguration namens "@Constants.AppName" sehen. Stelle sicher, dass diese ausgewählt ist. Anschließend findest du auf der rechten Seite eine Tabelle mit den Einträgen "Email" und "Password". In den jeweils dazugehörigen Werte-feldern solltest du nun deine Zugangsdaten eintragen.</p>
</div>
