@attribute [Route(Constants.PathToSharex)]

<h1>ShareX</h1>

<div class="mb-5">
    <p>ShareX ist eine beliebte Open-Source Screenshot Verwaltungs Software für Microsoft Windows. Hier erfährst du, wie du ShareX mit imgrio konfigurierst.</p>
</div>

<div class="mb-5">
    <h2 id="installation">Installation</h2>
    <p>Zu Beginn solltest du erstmal ShareX installieren. Klicke dafür <a href="https://getsharex.com/" target="_blank">hier</a> und anschließend einfach auf "Download", um die aktuellste Version herunterzuladen.</p>
    <p>Beim Setup kannst du einfach immer auf "Weiter" klicken, bis die Installation von ShareX abgeschlossen ist.</p>
</div>

<div class="mb-5">
    <h2 id="configuration">Konfiguration</h2>
    <p>Als nächstes konfigurieren wir alles so, dass ShareX mit @Constants.AppName funktioniert. Da wir das meiste bereits für dich erledigt haben, musst du dafür nur unsere <a href="@Path.Combine("assets", $"{Constants.AppName}.sxcu")" download>Konfiguration herunterladen</a>.</p>
    <p>Nun importierst du diese Konfiguration mit einem Doppelklick auf die heruntergeladene Datei in ShareX. Das einzige, was du jetzt noch selber erledigen musst, ist das einfügen deiner Zugangsdaten. Navigiere dafür zur folgenden Einstellung:</p>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ziele</li>
            <li class="breadcrumb-item">Benutzerdefinierte Uploader-Einstellungen...</li>
        </ol>
    </nav>

    <p>In der Liste auf der linken Seite solltest du nun eine Konfiguration namens "@Constants.AppName" sehen. Stelle sicher, dass diese ausgewählt ist. Anschließend findest du auf der rechten Seite eine Tabelle mit den Einträgen "Email" und "Password". In den jeweils dazugehörigen Werte-feldern solltest du nun deine Zugangsdaten eintragen.</p>
</div>

@*<div class="mb-5">
    <h2 id="configuration">Konfiguration</h2>
    <p>Als nächstes konfigurieren wir alles so, dass ShareX mit imgrio funktioniert. Navigiere dafür zur folgenden Einstellung:</p>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ziele</li>
            <li class="breadcrumb-item">Benutzerdefinierte Uploader-Einstellungen...</li>
        </ol>
    </nav>

    <p>Treffe dann alle Einstellungen wiefolgt:</p>

    <div class="mb-4">
        <label for="destionationType">Destination Type</label>
        <input class="form-control text-muted font-monospace" id="destionationType" value="Bilduploader, Textuploader, Dateiuploader" readonly>
    </div>

    <div class="mb-4">
        <label for="method">Method</label>
        <input class="form-control text-muted font-monospace" id="method" value="POST" aria-describedby="methodHelper" readonly>
    </div>

    <div class="mb-4">
        <label for="requestUrl">Destination Type</label>
        <input class="form-control text-muted font-monospace" id="requestUrl" value="https://imgrio.azurewebsites.net/api/v1/upload" readonly>
    </div>

    <div class="mb-4">
        <label for="body">Body</label>
        <input class="form-control text-muted font-monospace" id="body" value="Form data (multipart/form-data)" readonly>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input class="form-control text-muted font-monospace" value="Email" aria-describedby="basic-addon1" readonly>
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Value</span>
            </div>
            <input class="form-control text-muted font-monospace" value="deine@email.de" aria-describedby="basic-addon1" readonly>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input class="form-control text-muted font-monospace" value="Password" aria-describedby="basic-addon1" readonly>
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Value</span>
            </div>
            <input class="form-control text-muted font-monospace" value="De!nPassw0rt" aria-describedby="basic-addon1" readonly>
        </div>
        <small id="emailHelp" class="form-text text-muted">Du hast noch keine Zugangsdaten? Klicke <a href="@Constants.PathToAuthRegister">hier</a>, um dir einen Account zu erstellen.</small>
    </div>

    <div class="mb-4">
        <label for="fileFormName">File form name</label>
        <input class="form-control text-muted font-monospace" id="fileFormName" value="file" readonly>
    </div>

    <div class="mb-4">
        <label for="url">URL</label>
        <input class="form-control text-muted font-monospace" id="url" value="{response}" readonly>
    </div>

    <p>Zu guter letzt aktivieren wir unsere Konfiguration.</p>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ziele</li>
            <li class="breadcrumb-item">Bilduploader</li>
            <li class="breadcrumb-item">Eigener Bilduploader</li>
        </ol>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ziele</li>
            <li class="breadcrumb-item">Textuploader</li>
            <li class="breadcrumb-item">Eigener Textuploader</li>
        </ol>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ziele</li>
            <li class="breadcrumb-item">Dateiuploader</li>
            <li class="breadcrumb-item">Eigener Dateiuploader</li>
        </ol>
    </nav>
</div>

<div class="mb-5">
    <h2 id="overview">Überblick</h2>
    <p>Anschließen sollten deine Einstellungen ungefähr so aussehen:</p>
</div>*@

@code {

}
