@page "/u/sign-in"
@using Fordele.Blazor.Backend.Services;
@using Firebase.Auth;
@using System.Web;
@inject FirebaseAuthHandler FirebaseAuthHandler
@inject NavigationManager NavigationManager

<PageTitle>Sign In</PageTitle>

<h3>Anmelden</h3>

<form>
    <div class="mb-4">
        <input class="form-control" type="email" placeholder="Email Adresse" aria-describedby="emailHelp" @bind="Email" />
        <small id="emailHelp" class="form-text text-muted">Wir teilen deine Email Adresse niemals mit Dritten.</small>
    </div>

    <div class="mb-4">
        <input class="form-control" type="password" placeholder="Passwort" @bind="Password" />
    </div>

    <div class="mb-4">
        <a @onclick="SendForgotPasswordMail" href="javascript:;">Passwort vergessen?</a>
    </div>

    @if (Warning != null)
    {
        <div class="alert alert-danger" role="alert">
            @Warning
        </div>
    }

    <a class="btn btn-primary btn-block mb-4" href="/u/sign-in-redirect?email=@HttpUtility.UrlEncode(Email)&password=@HttpUtility.UrlEncode(Password)">Anmelden</a>
</form>

@code {
    private string Warning { get; set; } = null!;

    private string Email { get; set; } = null!;
    private string Password { get; set; } = null!;

    [Inject]
    public IHttpContextAccessor HttpContextAccessor { get; set; } = null!;

    private async Task SendForgotPasswordMail()
    {
        try
        {
            await FirebaseAuthHandler.FirebaseAuthProvider.SendPasswordResetEmailAsync(Email);
        }
        catch (HttpRequestException)
        {
            Warning = "Bitte gib deine Email Adresse an, damit wir dir einen Link zum Zurücksetzen deines Passworts senden können.";
        }
    }
}
