<footer class="text-neutral-700 dark:text-neutral-200 bg-neutral-100 dark:bg-neutral-800 p-4 text-base md:flex md:items-center md:justify-between md:p-6">
    <span class="sm:text-center">
        © @DateTime.Now.Year <a href="@Constants.PathToCopyright" class="hover:underline">baeni</a>. Alle Rechte vorbehalten.
    </span>
    <ul class="flex flex-wrap items-center mt-3 sm:mt-0">
        <li>
            <a href="@Constants.PathToPrivacyPolicy" class="mr-4 hover:underline md:mr-6">Datenschutz</a>
        </li>
        <li>
            <a href="@Constants.PathToImprint" class="mr-4 hover:underline md:mr-6">Impressum</a>
        </li>
    </ul>
</footer>