@inherits LayoutComponentBase

<PageTitle>imgrio</PageTitle>

<div class="text-neutral-900 bg-neutral-50 dark:text-neutral-50 dark:bg-neutral-900 min-vh-100">
    <Navbar />

    <main class="max-w-5xl mx-auto mt-7 px-6 md:px-12 xl:px-6">
        @Body
    </main>

    <Footer />
</div>