@inherits LayoutComponentBase

<PageTitle>imgrio</PageTitle>

<div class="page">
    <main>
        <Navbar />

        <div class="container">
            @Body
        </div>

        <Footer />
    </main>
</div>