<h1 class="mb-4 text-4xl font-bold leading-none tracking-tight">Bitte melde dich an</h1>

<p>Um diese Seite zu sehen, musst du angemeldet sein. Klicke <a href="@Constants.PathToAuthLogin" class="font-medium text-blue-500 hover:underline">hier</a>, um dich anzumelden.</p>
<p>Solltest du bereits angemeldet sein, scheinst du nicht genügend Zugriffsrechte zu besitzt, um auf diesen Inhalt zuzugreifen.</p>
