<h1 class="mb-4 text-4xl font-bold leading-none tracking-tight">Huch,</h1>

<p>hier gibt's nichts zu sehen... <a href="@Constants.PathToIndex" class="font-medium text-blue-500 hover:underline">Zurück</a>, zu einem sicheren Ort.</p>