@inherits LayoutComponentBase
@attribute [Authorize]

<PageTitle>Fordele</PageTitle>

<div class="page">
    <div class="sidebar">
        <Sidebar />
    </div>

    <main>
        <Navbar />

        <div class="container">
            @Body
        </div>

        @*<Footer />*@
    </main>
</div>