.header__container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  min-height: 100vh;
  max-width: 700px;
}

.header__container-slogan p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 4rem;
  line-height: 55px;
}

.header__container-slogan--accent {
  color: var(--color-primary);
}

.header__container-description {
  margin: 2rem 0;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 20px;
}

.header__container-buttons button {
  padding: 0.65rem 2rem;
  margin: 0.5rem;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  cursor: pointer;
  border: 1px solid var(--color-secondary2);
  border-radius: 100px;
}

.header__container-buttons .btn--primary {
  background-color: var(--color-primary);
}

.header__container-buttons .btn--secondary {
  background-color: var(--color-secondary);
}

.header__container-statistics {
  margin: 3rem auto 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__container-statistics img {
  width: 35px;
}

.header__container-statistics p {
  margin-left: 1rem;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: .75rem;
}

.header__container-statistics--bold {
  font-weight: 800;
}